.table {
    margin-top: 20px;
    border: 1px solid pink;
}
th, td {
    border: 1px solid pink;
    padding: 10px;
}
.add {
    background: pink;
}
.edit {
    background: cadetblue;
}
.delete {
    background: red;
}
button {
    cursor: pointer;
}